
body {
    background-color: rgb(179, 239, 183) !important;
}
.buttons {
    justify-content: space-between !important;
    display: flex;
    border-radius: 10px;
    border-color: rgb(1, 28, 1) !important;
}
.mainpage, .playlist {
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(7, 58, 7) !important;
}
.friendReq {
    background-color: rgb(179, 239, 183) !important;
}

h2, h3 {
    text-align: left;
}
.h1, h1 {
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    background-color: white;
    color: Black;
    text-align: center;
}
.Username {
    text-align: left;
}
.cloud {
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    background-color: white;
    padding: 20px; 
    border-radius: 10px;
    height: 162px;
    text-align: left;
}
ul {
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    height: 130px;
    width: 50%;
    background: rgb(138, 194, 114);
    padding: 5px;
}
  
ul li {
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    background: white;
    color: black;
    padding: 5px;
    height: 50px;
    margin: 5px;
}