body {
    background-color: rgb(179, 239, 183) !important;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .h1, h1 {
    font-weight: 800;
    font-size: 60px !important;
    height:100px;
    display: block;
    color: white;
    font-weight: bold;
  }

  .h2,h2 {
    color: black;
  }

  .text-box {
    background-color: white;
    border: 15px solid rgb(138, 194, 114); /* Set border width, style, and color */
    padding: 20px; /* Optional: Add padding inside the box */
    width: fit-content;
    border-radius: 10px;
    height: 200px;
  }

  header {
    flex: 0 80px;
    padding: 20px;
  }

  .username {
    color: rgb(0, 0, 0);
    
  }
  .footnote {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    border:rgb(0, 0, 0);
    background-color: white;
  }

  img {
    width: 50px;
    height: 50px;
  }