.buttons {
    justify-content: space-evenly !important;
    display: flex;
    border-radius: 10px;
    border-color: rgb(1, 28, 1) !important;
    color: rgb(179, 239, 183);
}
body {
    background-color: gray !important;
}

.h2, h2 {
    text-align: center;
    color: white;
}
.PlaylistTitle{
    text-align: center;
}

.lastButton {
    justify-content: space-evenly !important;
    display: flex;
    border-radius: 10px;
    border-color: rgb(1, 28, 1) !important; 
    overflow: hidden;
    border-radius: 10px !important;
    text-align: center;
    color: rgb(179, 239, 183);
}